<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class = "title">自己診断テスト</div>
      <div class = "header-list">
      <ul>
        <li>概要</li>
        <li>診断されるタイプ</li>
        <li>方法</li>
        <li>お問い合わせ</li>
      </ul>
    </div>
    </header>
    <div class ="main">
      <div class="copy-container">
        <h1>あなたに最適な学習環境を見つけます。</h1>
        <h2>より記憶力が上がり、より集中力を発揮できる環境がわかる!</h2>
      </div>
      <div class="type">
        <h3 class=type-title>診断でわかる自分のタイプ</h3>
        <div class="type-img">
          <img src="/images/studytype.jpg" height="100" width="100">
          <p>学習苦手タイプ</p>
        </div>
        <div class="type-img">
          <img src="/images/studytype.jpg" height="100" width="100">
          <p>多注意タイプ</p>
        </div>
        <div class="type-img">
          <img src="/images/studytype.jpg" height="100" width="100">
          <p>記憶忘却タイプ</p>
        </div>
        <div class="type-img">
          <img src="/images/studytype.jpg" height="100" width="100">
          <p>超集中力タイプ</p>
        </div>
      </div>
      <div class="explain">
        <h3>説明</h3>
        <p>自己診断テストでは二つの調査を行います。</p>
        <ol>
          <li>マルチタスク調査</li>
          <li>記憶力・集中力調査</li>
        </ol>
        <p>マルチタスク調査では、日々のマルチタスクの習慣とその頻度を調べます。（テレビを見ながら動画を見るなど）</p>
        <p>記憶力・集中力調査では、赤の長方形と青の長方形が複数表示されるので、赤の長方形の向いている向きを記憶してもらい、その後６０秒間隠し、新しい画像を表示します。その時に画像が変化しているか、してないかを判断してもらいます。</p>
      </div>
        <a class="start" href="/check">開始する</a>

    </div>
    <footer>
      <div class ="footer-logo">自己診断テスト</div>
      <div class="footer-list">
        <ul>
          <li>規約</li>
          <li>お問い合わせ</li>
        </ul>
      </div>
    </footer>      
  </body>
</html>

